
/Hospital/.vs
/Hospital/HospitalAPI/bin
/Hospital/HospitalAPI/obj
/Hospital/HospitalLibrary/bin
/Hospital/HospitalLibrary/obj
/Hospital/HospitalTests/bin
/Hospital/HospitalTests/obj
/Hospital/HospitalIntegrationTests/bin
/Hospital/HospitalIntegrationTests/obj
/Hospital/HospitalAPI/Migrations

*.log
.DS_Store
dist
node_modules


