
.vs
/Hospital/Hospital API/bin
/Hospital/Hospital API/obj
/Hospital/Hospital library/bin
/Hospital/Hospital library/obj
/Hospital/HospitalIntegrationTests/bin
/Hospital/HospitalIntegrationTests/obj
/Hospital/HospitalTests/bin
/Hospital/HospitalTests/obj

*.log
.DS_Store
dist
node_modules


